<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAzdOSU39Kwns373oJITpYrsEGCavKdYKA</string>
	<key>GCM_SENDER_ID</key>
	<string>1056003272499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>stream-example-app</string>
	<key>PROJECT_ID</key>
	<string>steamchat-12dd3</string>
	<key>STORAGE_BUCKET</key>
	<string>steamchat-12dd3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056003272499:ios:a38b65341c38b644279846</string>
</dict>
</plist>